html {
  background-color: #e9c493;
  color:#363731;
}

h1 {
  font-family: 'Impact',sans-serif;
  font-size: 130px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 24px;
  font-weight: 400;
}

h2 {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #363731;
  border-bottom: 1px solid #363731;
}

.temp {
  font-family: sans-serif;
}

#current_temp {
  font-size: 64px;
}

#temps {
  display: inline-block;
}

#today {
  text-align: center;
}

#conditions_today {
  width: 100px;
  display: inline-block;
}

#temp_range {
  width: 4em;
  margin-left: auto;
  margin-right: auto;
}

#temp_range > .temp {
  display: inline-block;
}